In [1]:
import pandas as pd
import numpy as np
from scipy.stats import norm

In [2]:
xl = pd.ExcelFile('/Users/sergey/Documents/TUM/IDP/prepared_instruments.xlsx')

In [33]:
##df = xl.parse("FY0")
#dfTime = xl.parse("TS")
dfTime = xl.parse("TS", skiprows = 0, skip_footer =False)
dfTime.replace(np.NaN,0 , inplace =True)
df = dfTime

print(dfTime.head())

                  Date     TGTG.DE    TGTG.DE.1     UUUG.DE    UUUG.DE.1  \
0            Timestamp  Trade Open  Trade Close  Trade Open  Trade Close
1  2016-12-01 00:00:00        0.64        0.646       0.641         0.64
2  2016-11-30 00:00:00        0.63         0.68       0.641        0.641
3  2016-11-29 00:00:00        0.68        0.696        0.65         0.66
4  2016-11-28 00:00:00       0.686          0.7        0.65         0.65

      VSCk.DE    VSCk.DE.1     HRPKk.F    HRPKk.F.1      LUMG.F     ...       \
0  Trade Open  Trade Close  Trade Open  Trade Close  Trade Open     ...
1       2.532        2.532       2.276        2.276       0.016     ...
2       2.496        2.451       2.254        2.281       0.016     ...
3       2.416        2.416       2.266        2.357       0.016     ...
4        2.52          2.5        2.36        2.324       0.016     ...

        YB1.F      YB1.F.1     RTVGn.F    RTVGn.F.1     ZALG.DE    ZALG.DE.1  \
0  Trade Open  Trade Close  Trade Open  Trade Close  Trade Open  Trade Close
1        0.02         0.02        1.22         1.22       34.99       34.275
2        0.02         0.02        1.22         1.22      35.855       35.165
3        0.02         0.02        1.22         1.22       35.14       35.845
4        0.02         0.02       1.221        1.221       36.05        35.22

      ZEFG.DE    ZEFG.DE.1     ZO1G.DE    ZO1G.DE.1
0  Trade Open  Trade Close  Trade Open  Trade Close
1         1.6          1.6         121        119.1
2           0            0       123.2          121
3       1.554        1.575         123        123.1
4           0            0       122.5          123

[5 rows x 853 columns]

In [4]:
df = df.drop(df.index[[0]])#dropping 2nd row that contains "open", "close"
df.drop('Date', axis=1, inplace=True)

In [5]:
df_mean = df
df_mean= df_mean.astype(float)

In [6]:

df_mean = df_mean.groupby((np.arange(len(df_mean.columns)) // 2) + 1, axis=1).mean().add_prefix('s')

In [7]:
#print(df.columns[2])
collist = list(df.columns.values)
collist = collist[::2]
df_mean.columns = [collist]

In [269]:
#print(xl.sheet_names)
#print(dfTime.head())

In [270]:
'''for i in range(0,5,2):

        dfAvg =df.ix[1:2,i:(i+2)].T.sum()
        df_sum=pd.DataFrame(dfAvg)

        df_sum.columns = [df.columns[i]]
        print (df_sum)
        dat1 = dat1.join(df_sum )

        del dfAvg
'''

'for i in range(0,5,2):\n\n        dfAvg =df.ix[1:2,i:(i+2)].T.sum()\n        df_sum=pd.DataFrame(dfAvg)\n\n        df_sum.columns = [df.columns[i]]\n        print (df_sum)\n        dat1 = dat1.join(df_sum )\n\n        del dfAvg\n'

In [271]:
#df_mean.ix[0:,:].std()
#k =df_mean.ix[0:,:].std()
#print( k[66] )

In [8]:
print(len(df_mean.corr()))
print(len(df_mean.corr().columns))

426
426

In [9]:
lCorr = df_mean.corr().ix[0:,:1]
#print(lCorr)

In [76]:
def absPortf_stddev(listofInv):
 
    #A_rank=[2,4,4,4,5,5,7,9]
    #arr = np.array([A_rank])
    #print(np.mean(arr))
    #print(np.std(arr))
    ##print(np.std(arr, axis=0))
    #print(np.correlate([0.686,0.702], [0.646,0.68]))
    #print(len(collist))
    weight = 1/len(collist)
    lStdDev = df_mean.ix[0:,:].std()
    lCorr = df_mean.corr().ix[0:,:1]
    ## can now access: lStdDev[66]
    
    #PART 1:
    sum1 = 0
    for i in range(1, len(collist), 1):
        sum1 = sum1 + weight * lStdDev[i]
    #print(sum1)
    
    #PART 2:
    sum2 = 0
    for i in range(1, len(collist), 1):
        #print("Current i= " + str(i))
        for j in range(1, len(collist), 1):
            #print("Current j= " + str(j))
            sum2 = sum2 + weight * weight * lStdDev[i] * lStdDev[j]
    #print(sum2)
    
    Portf_stddev = (sum1+2*sum2) ** (0.5)
    print("Portfolio Standart Deviation is: " + str(Portf_stddev))
   
    
    ##print(dfTime.head())
    #avgVal = (dfTime.ix[1:3,1:2] + dfTime.ix[1:3,2:3])/2
    #print(lStdDev)
    
absPortf_stddev(None)

20.1279691394
405.135141675
Portfolio Standart Deviation is: 28.8166315257

In [77]:
#dfTime

In [37]:
#print(dfTime.ix[1:,0:])

In [103]:
#dfh = dfh[(dfTime.Date >= startDate)]

#dfh = dfh[(dfTime.Date >= startDate) & (dfTime.Date<= endDate)]
#df[(df.A == 1) & (df.D == 6)]
#print(dfh)

,Date,TGTG.DE,TGTG.DE.1,UUUG.DE,UUUG.DE.1,VSCk.DE,VSCk.DE.1,HRPKk.F,HRPKk.F.1,LUMG.F,...,YB1.F,YB1.F.1,RTVGn.F,RTVGn.F.1,ZALG.DE,ZALG.DE.1,ZEFG.DE,ZEFG.DE.1,ZO1G.DE,ZO1G.DE.1
1,2016-12-01,0.64,0.646,0.641,0.64,2.532,2.532,2.276,2.276,0.016,...,0.02,0.02,1.22,1.22,34.99,34.275,1.6,1.6,121,119.1
2,2016-11-30,0.63,0.68,0.641,0.641,2.496,2.451,2.254,2.281,0.016,...,0.02,0.02,1.22,1.22,35.855,35.165,0,0,123.2,121
3,2016-11-29,0.68,0.696,0.65,0.66,2.416,2.416,2.266,2.357,0.016,...,0.02,0.02,1.22,1.22,35.14,35.845,1.554,1.575,123,123.1
4,2016-11-28,0.686,0.7,0.65,0.65,2.52,2.5,2.36,2.324,0.016,...,0.02,0.02,1.221,1.221,36.05,35.22,0,0,122.5,123
5,2016-11-25,0.702,0.7,0,0,2.4,2.567,2.317,2.35,0.016,...,0.02,0.02,1.22,1.22,35.315,36.115,0,0,121,122.4
6,2016-11-24,0,0,0.661,0.656,2.412,2.401,2.288,2.373,0.016,...,0.02,0.02,1.22,1.22,35.62,35.345,0,0,120.5,121
7,2016-11-23,0.718,0.718,0.664,0.664,2.499,2.499,2.36,2.35,0.016,...,0.02,0.02,1.248,1.248,36.025,35.61,0,0,120,120.45
8,2016-11-22,0.796,0.728,0.65,0.647,0,0,2.26,2.335,0.016,...,0.02,0.02,1.275,1.275,35.97,35.895,1.46,1.46,119.1,119.85

In [163]:
print (dfTime.columns)

Index(['Date', 'TGTG.DE', 'TGTG.DE.1', 'UUUG.DE', 'UUUG.DE.1', 'VSCk.DE',
       'VSCk.DE.1', 'HRPKk.F', 'HRPKk.F.1', 'LUMG.F',
       ...
       'YB1.F.1', 'RTVGn.F', 'RTVGn.F.1', 'ZALG.DE', 'ZALG.DE.1', 'ZEFG.DE',
       'ZEFG.DE.1', 'ZO1G.DE', 'ZO1G.DE.1', 'diff'],
      dtype='object', length=854)

In [34]:
dfTime.head()

,Date,TGTG.DE,TGTG.DE.1,UUUG.DE,UUUG.DE.1,VSCk.DE,VSCk.DE.1,HRPKk.F,HRPKk.F.1,LUMG.F,...,YB1.F,YB1.F.1,RTVGn.F,RTVGn.F.1,ZALG.DE,ZALG.DE.1,ZEFG.DE,ZEFG.DE.1,ZO1G.DE,ZO1G.DE.1
0,Timestamp,Trade Open,Trade Close,Trade Open,Trade Close,Trade Open,Trade Close,Trade Open,Trade Close,Trade Open,...,Trade Open,Trade Close,Trade Open,Trade Close,Trade Open,Trade Close,Trade Open,Trade Close,Trade Open,Trade Close
1,2016-12-01 00:00:00,0.64,0.646,0.641,0.64,2.532,2.532,2.276,2.276,0.016,...,0.02,0.02,1.22,1.22,34.99,34.275,1.6,1.6,121,119.1
2,2016-11-30 00:00:00,0.63,0.68,0.641,0.641,2.496,2.451,2.254,2.281,0.016,...,0.02,0.02,1.22,1.22,35.855,35.165,0,0,123.2,121
3,2016-11-29 00:00:00,0.68,0.696,0.65,0.66,2.416,2.416,2.266,2.357,0.016,...,0.02,0.02,1.22,1.22,35.14,35.845,1.554,1.575,123,123.1
4,2016-11-28 00:00:00,0.686,0.7,0.65,0.65,2.52,2.5,2.36,2.324,0.016,...,0.02,0.02,1.221,1.221,36.05,35.22,0,0,122.5,123

print (collistPrime[::2])

In [309]:
tdf.columns[2]

'TGTG.DE.1'

In [312]:
##print((tdf[tdf.columns[2]].astype(float)) - (tdf[tdf.columns[1]].astype(float)))

In [357]:
print(dfTime.ix[1:,0:])

                     Date TGTG.DE TGTG.DE.1 UUUG.DE UUUG.DE.1  VSCk.DE  \
1     2016-12-01 00:00:00    0.64     0.646   0.641      0.64    2.532
2     2016-11-30 00:00:00    0.63      0.68   0.641     0.641    2.496
3     2016-11-29 00:00:00    0.68     0.696    0.65      0.66    2.416
4     2016-11-28 00:00:00   0.686       0.7    0.65      0.65     2.52
5     2016-11-25 00:00:00   0.702       0.7       0         0      2.4
6     2016-11-24 00:00:00       0         0   0.661     0.656    2.412
7     2016-11-23 00:00:00   0.718     0.718   0.664     0.664    2.499
8     2016-11-22 00:00:00   0.796     0.728    0.65     0.647        0
9     2016-11-21 00:00:00     0.8     0.752   0.646     0.645        0
10    2016-11-18 00:00:00    0.81     0.772    0.68     0.645    2.532
11    2016-11-17 00:00:00    0.78     0.785    0.68     0.655    2.475
12    2016-11-16 00:00:00    0.78     0.781   0.679     0.679     2.44
13    2016-11-15 00:00:00     0.8     0.789   0.681     0.679    2.441
14    2016-11-14 00:00:00   0.796     0.796   0.663     0.663    2.544
15    2016-11-11 00:00:00     0.8     0.785   0.664      0.64    2.487
16    2016-11-10 00:00:00   0.801     0.814    0.64      0.64    2.429
17    2016-11-09 00:00:00    0.81      0.81   0.638     0.631    2.286
18    2016-11-08 00:00:00   0.813     0.813   0.638      0.64     2.37
19    2016-11-07 00:00:00   0.819     0.819   0.664     0.659      2.4
20    2016-11-04 00:00:00   0.812     0.812    0.65     0.645    2.405
21    2016-11-03 00:00:00    0.84     0.816   0.655     0.651     2.42
22    2016-11-02 00:00:00   0.832     0.832    0.65      0.65     2.55
23    2016-11-01 00:00:00       0         0   0.668     0.659    2.639
24    2016-10-31 00:00:00    0.85      0.85   0.649      0.67    2.569
25    2016-10-28 00:00:00       0         0   0.645     0.645    2.512
26    2016-10-27 00:00:00       0         0   0.634     0.645    2.511
27    2016-10-26 00:00:00   0.835      0.85    0.64     0.637    2.511
28    2016-10-25 00:00:00       0         0    0.64     0.648     2.48
29    2016-10-24 00:00:00   0.868      0.87    0.65     0.631        0
30    2016-10-21 00:00:00   0.832     0.832    0.64      0.64    2.515
...                   ...     ...       ...     ...       ...      ...
2749  2006-02-10 00:00:00   21.15     21.14    0.86      0.85  19.5039
2750  2006-02-09 00:00:00   20.06     21.17    0.87      0.86  19.9639
2751  2006-02-08 00:00:00   20.49     20.35    0.87      0.87  20.0099
2752  2006-02-07 00:00:00   19.55      20.5    0.87      0.87  19.9179
2753  2006-02-06 00:00:00   20.32        20    0.89      0.87  19.9179
2754  2006-02-03 00:00:00    20.5     20.47    0.88      0.89  19.9179
2755  2006-02-02 00:00:00    20.7     20.54    0.89      0.89  19.9179
2756  2006-02-01 00:00:00   20.44     20.48    0.89      0.87  19.6419
2757  2006-01-31 00:00:00   20.39     20.47     0.9      0.86  19.5499
2758  2006-01-30 00:00:00   20.44     20.69    0.83       0.9  19.7799
2759  2006-01-27 00:00:00    20.2      20.4    0.88      0.86  19.5499
2760  2006-01-26 00:00:00      20        20    0.81      0.88  19.5499
2761  2006-01-25 00:00:00    19.5     19.95    0.81      0.82  19.9639
2762  2006-01-24 00:00:00    19.3     19.36    0.83      0.82  19.5499
2763  2006-01-23 00:00:00   19.24     19.24    0.84      0.82  20.0099
2764  2006-01-20 00:00:00   19.15     19.27    0.82      0.83  19.9179
2765  2006-01-19 00:00:00   19.35      19.2    0.83      0.83  19.5499
2766  2006-01-18 00:00:00   19.26     19.24    0.85      0.83  20.0099
2767  2006-01-17 00:00:00   19.57     19.25    0.86      0.86  20.4699
2768  2006-01-16 00:00:00   19.78      19.6    0.87      0.86  20.3779
2769  2006-01-13 00:00:00   19.41     19.76    0.88      0.87  19.9179
2770  2006-01-12 00:00:00      19      19.5    0.86      0.87  19.7339
2771  2006-01-11 00:00:00   18.65        19    0.87      0.88  19.7799
2772  2006-01-10 00:00:00    18.8     18.74    0.87      0.88  19.7339
2773  2006-01-09 00:00:00    18.1     18.68    0.91      0.88  20.2399
2774  2006-01-06 00:00:00   17.87     18.05    0.85       0.9  19.9179
2775  2006-01-05 00:00:00   17.64     17.87    0.85      0.86  19.9179
2776  2006-01-04 00:00:00   17.34     17.65    0.84      0.86  19.7799
2777  2006-01-03 00:00:00   17.22     17.34    0.87      0.85  19.9639
2778  2006-01-02 00:00:00   17.01     17.44    0.83      0.86  20.2399

     VSCk.DE.1 HRPKk.F HRPKk.F.1 LUMG.F    ...     YB1.F YB1.F.1  RTVGn.F  \
1        2.532   2.276     2.276  0.016    ...      0.02    0.02     1.22
2        2.451   2.254     2.281  0.016    ...      0.02    0.02     1.22
3        2.416   2.266     2.357  0.016    ...      0.02    0.02     1.22
4          2.5    2.36     2.324  0.016    ...      0.02    0.02    1.221
5        2.567   2.317      2.35  0.016    ...      0.02    0.02     1.22
6        2.401   2.288     2.373  0.016    ...      0.02    0.02     1.22
7        2.499    2.36      2.35  0.016    ...      0.02    0.02    1.248
8            0    2.26     2.335  0.016    ...      0.02    0.02    1.275
9            0   2.402     2.275  0.017    ...      0.02    0.02    1.275
10       2.488    2.28     2.296  0.017    ...     0.021   0.021    1.255
11       2.533     2.3     2.326  0.017    ...     0.021   0.021    1.331
12       2.395   2.238     2.246  0.016    ...     0.021   0.021     1.37
13       2.437   2.235     2.235  0.016    ...     0.021   0.021     1.37
14       2.522   2.329     2.243  0.016    ...     0.021   0.021     1.37
15       2.487   2.214     2.258  0.016    ...     0.021   0.021     1.37
16       2.489    2.21      2.19  0.016    ...     0.021   0.021      1.3
17        2.44     2.2     2.171  0.016    ...     0.021   0.021     1.22
18       2.369    2.22     2.259  0.016    ...     0.021   0.021    1.265
19       2.389   2.224     2.234  0.017    ...     0.021   0.021    1.265
20       2.405   2.219     2.213  0.016    ...     0.021   0.021    1.265
21        2.44   2.242     2.256  0.015    ...     0.021   0.021    1.265
22       2.405   2.267     2.299  0.016    ...     0.021   0.021     1.28
23       2.622   2.278     2.272  0.016    ...     0.021   0.021     1.28
24         2.6    2.31     2.291  0.017    ...     0.021   0.021     1.28
25       2.527    2.27     2.319  0.017    ...     0.021   0.021     1.28
26       2.431   2.251     2.291  0.017    ...      0.02    0.02     1.35
27       2.568   2.328     2.251  0.016    ...     0.021   0.021     1.35
28        2.51    2.31      2.31  0.016    ...     0.021   0.021     1.35
29           0   2.409     2.278  0.016    ...      0.02    0.02     1.35
30       2.485   2.379     2.379  0.016    ...      0.04    0.03      1.4
...        ...     ...       ...    ...    ...       ...     ...      ...
2749   20.0099    35.4      35.1   0.53    ...         0       0  2.40262
2750   19.9639    35.7      35.2   0.56    ...         0       0  2.12503
2751   19.5499    35.3     35.26   0.58    ...         0       0   2.1346
2752   19.5499    33.9     35.06   0.55    ...         0       0   2.1346
2753   20.2399      34        34   0.57    ...         0       0  2.11545
2754   19.9179    35.2      33.8   0.51    ...         0       0  2.12503
2755   19.9179    35.3      34.9    0.5    ...         0       0  2.11545
2756   20.0099    33.6      34.9   0.52    ...         0       0  2.15374
2757   19.5499    33.5      33.2   0.53    ...         0       0  2.24946
2758   19.9639    32.8     33.54   0.57    ...         0       0  2.06759
2759   20.1019      32      32.4   0.53    ...         0       0   2.2016
2760   19.5499    32.3        32   0.56    ...         0       0   2.2016
2761   19.9639      33      31.7   0.55    ...         0       0  2.10588
2762   19.7799   32.84     32.72   0.56    ...         0       0  2.23032
2763   20.0099    32.9      32.6   0.55    ...         0       0  2.24946
2764   19.7799    32.3      33.4   0.56    ...         0       0  2.33561
2765   20.0099    33.4     32.04   0.57    ...         0       0  2.36433
2766   19.7799    31.2     32.92   0.57    ...         0       0  2.40262
2767   20.1939      33      32.4   0.59    ...         0       0  2.40262
2768   20.6999    32.9        33   0.62    ...         0       0  2.46005
2769   20.3779   31.24     31.82   0.59    ...         0       0  2.46005
2770   19.8719    30.9      31.5   0.59    ...         0       0  2.45048
2771   19.7799   31.66      30.6   0.57    ...         0       0  2.42176
2772   19.7799    31.8      31.5   0.68    ...         0       0  2.44091
2773   19.7799    30.4      31.6   0.78    ...         0       0  2.39305
2774   20.0099   28.26     29.64   0.32    ...         0       0  2.46963
2775   19.7799    28.6      28.1    0.3    ...         0       0  2.63235
2776   19.5499    28.6     28.72    0.3    ...         0       0  2.22075
2777   19.7799    28.4      28.3   0.32    ...         0       0  2.49834
2778   19.6419   26.84     28.46   0.26    ...         0       0  2.48877

     RTVGn.F.1 ZALG.DE ZALG.DE.1 ZEFG.DE ZEFG.DE.1 ZO1G.DE ZO1G.DE.1
1         1.22   34.99    34.275     1.6       1.6     121     119.1
2         1.22  35.855    35.165       0         0   123.2       121
3         1.22   35.14    35.845   1.554     1.575     123     123.1
4        1.221   36.05     35.22       0         0   122.5       123
5         1.22  35.315    36.115       0         0     121     122.4
6         1.22   35.62    35.345       0         0   120.5       121
7        1.248  36.025     35.61       0         0     120    120.45
8        1.275   35.97    35.895    1.46      1.46   119.1    119.85
9        1.275   35.77     35.81       0         0   122.5     120.8
10       1.338   35.57    35.665       0         0  122.05    123.05
11        1.28   35.06    35.395       0         0   126.6    122.05
12        1.37    34.8    35.005   1.507     1.507   124.7     125.4
13        1.37   34.85     34.78       0         0     126     124.8
14        1.37  35.845    34.785   1.547     1.547   126.8    125.25
15        1.37  35.165    35.495   1.511       1.5   128.4    126.15
16       1.415   38.55     34.87    1.53       1.5  128.45     128.4
17       1.335  35.695      37.5   1.597      1.55  125.95     128.2
18       1.265  36.825      36.9       0         0   128.6    128.35
19       1.265    37.8    36.955       0         0  127.65    128.05
20       1.265   38.45    38.415       0         0   128.5     127.6
21       1.265  38.285     38.45       0         0   128.6     127.9
22       1.265   39.02     38.48   1.617       1.6  129.45     128.5
23        1.28  40.115    39.105       0         0   130.5     129.8
24        1.28  39.695     39.99   1.617     1.617  130.45    129.55
25        1.28  40.125    39.795    1.58      1.58   128.8    129.95
26        1.35  39.895     40.35    1.67       1.6   128.5     129.5
27        1.35   40.22     39.82    1.67      1.67     128    128.95
28        1.35   40.16    40.225    1.88      1.73     128    128.05
29        1.35  39.785     39.98       0         0     130     128.2
30         1.4    40.4     39.61    1.88     1.835     130     129.7
...        ...     ...       ...     ...       ...     ...       ...
2749   2.58449       0         0       0         0       0         0
2750   2.34519       0         0       0         0       0         0
2751    2.1346       0         0       0         0       0         0
2752    2.1346       0         0       0         0       0         0
2753    2.1346       0         0       0         0       0         0
2754   2.12503       0         0       0         0       0         0
2755   2.12503       0         0       0         0       0         0
2756   2.15374       0         0       0         0       0         0
2757   2.18246       0         0       0         0       0         0
2758    2.2016       0         0       0         0       0         0
2759   2.06759       0         0       0         0       0         0
2760    2.2016       0         0       0         0       0         0
2761   2.23032       0         0       0         0       0         0
2762   2.15374       0         0       0         0       0         0
2763   2.23032       0         0       0         0       0         0
2764   2.24946       0         0       0         0       0         0
2765    2.3739       0         0       0         0       0         0
2766   2.41219       0         0       0         0       0         0
2767   2.40262       0         0       0         0       0         0
2768   2.40262       0         0       0         0       0         0
2769   2.46005       0         0       0         0       0         0
2770   2.46005       0         0       0         0       0         0
2771   2.48877       0         0       0         0       0         0
2772   2.44091       0         0       0         0       0         0
2773   2.44091       0         0       0         0       0         0
2774   2.46005       0         0       0         0       0         0
2775   2.50791       0         0       0         0       0         0
2776   2.69936       0         0       0         0       0         0
2777   2.53663       0         0       0         0       0         0
2778   2.53663       0         0       0         0       0         0

[2778 rows x 853 columns]

In [492]:
rets = [-0.01, -0.02, -0.01, 0.04, 0.02, 0.01, -0.03]
lst =pd.DataFrame()
lst = rets.diff()
print(rets)

AttributeError: 'list' object has no attribute 'diff'

In [35]:
print(dfTime.head())

                  Date     TGTG.DE    TGTG.DE.1     UUUG.DE    UUUG.DE.1  \
0            Timestamp  Trade Open  Trade Close  Trade Open  Trade Close
1  2016-12-01 00:00:00        0.64        0.646       0.641         0.64
2  2016-11-30 00:00:00        0.63         0.68       0.641        0.641
3  2016-11-29 00:00:00        0.68        0.696        0.65         0.66
4  2016-11-28 00:00:00       0.686          0.7        0.65         0.65

      VSCk.DE    VSCk.DE.1     HRPKk.F    HRPKk.F.1      LUMG.F     ...       \
0  Trade Open  Trade Close  Trade Open  Trade Close  Trade Open     ...
1       2.532        2.532       2.276        2.276       0.016     ...
2       2.496        2.451       2.254        2.281       0.016     ...
3       2.416        2.416       2.266        2.357       0.016     ...
4        2.52          2.5        2.36        2.324       0.016     ...

        YB1.F      YB1.F.1     RTVGn.F    RTVGn.F.1     ZALG.DE    ZALG.DE.1  \
0  Trade Open  Trade Close  Trade Open  Trade Close  Trade Open  Trade Close
1        0.02         0.02        1.22         1.22       34.99       34.275
2        0.02         0.02        1.22         1.22      35.855       35.165
3        0.02         0.02        1.22         1.22       35.14       35.845
4        0.02         0.02       1.221        1.221       36.05        35.22

      ZEFG.DE    ZEFG.DE.1     ZO1G.DE    ZO1G.DE.1
0  Trade Open  Trade Close  Trade Open  Trade Close
1         1.6          1.6         121        119.1
2           0            0       123.2          121
3       1.554        1.575         123        123.1
4           0            0       122.5          123

[5 rows x 853 columns]

In [62]:
dfTMP = xl.parse("TS", skiprows = 0, skip_footer =False)

In [63]:
#print(dfTMP.head(8))

                  Date     TGTG.DE    TGTG.DE.1     UUUG.DE    UUUG.DE.1  \
0            Timestamp  Trade Open  Trade Close  Trade Open  Trade Close
1  2016-12-01 00:00:00        0.64        0.646       0.641         0.64
2  2016-11-30 00:00:00        0.63         0.68       0.641        0.641
3  2016-11-29 00:00:00        0.68        0.696        0.65         0.66
4  2016-11-28 00:00:00       0.686          0.7        0.65         0.65
5  2016-11-25 00:00:00       0.702          0.7         NaN          NaN
6  2016-11-24 00:00:00         NaN          NaN       0.661        0.656
7  2016-11-23 00:00:00       0.718        0.718       0.664        0.664

      VSCk.DE    VSCk.DE.1     HRPKk.F    HRPKk.F.1      LUMG.F     ...       \
0  Trade Open  Trade Close  Trade Open  Trade Close  Trade Open     ...
1       2.532        2.532       2.276        2.276       0.016     ...
2       2.496        2.451       2.254        2.281       0.016     ...
3       2.416        2.416       2.266        2.357       0.016     ...
4        2.52          2.5        2.36        2.324       0.016     ...
5         2.4        2.567       2.317         2.35       0.016     ...
6       2.412        2.401       2.288        2.373       0.016     ...
7       2.499        2.499        2.36         2.35       0.016     ...

        YB1.F      YB1.F.1     RTVGn.F    RTVGn.F.1     ZALG.DE    ZALG.DE.1  \
0  Trade Open  Trade Close  Trade Open  Trade Close  Trade Open  Trade Close
1        0.02         0.02        1.22         1.22       34.99       34.275
2        0.02         0.02        1.22         1.22      35.855       35.165
3        0.02         0.02        1.22         1.22       35.14       35.845
4        0.02         0.02       1.221        1.221       36.05        35.22
5        0.02         0.02        1.22         1.22      35.315       36.115
6        0.02         0.02        1.22         1.22       35.62       35.345
7        0.02         0.02       1.248        1.248      36.025        35.61

      ZEFG.DE    ZEFG.DE.1     ZO1G.DE    ZO1G.DE.1
0  Trade Open  Trade Close  Trade Open  Trade Close
1         1.6          1.6         121        119.1
2         NaN          NaN       123.2          121
3       1.554        1.575         123        123.1
4         NaN          NaN       122.5          123
5         NaN          NaN         121        122.4
6         NaN          NaN       120.5          121
7         NaN          NaN         120       120.45

[8 rows x 853 columns]

In [66]:
tmp = dfTMP
MoneyVol = 1000
tmp=pd.DataFrame(tmp.ix[1:,1:3])
#tmp['TGTG.DE.1'].fillna((tmp['TGTG.DE.1'].mean()), inplace=True)

tmp = tmp[pd.notnull(tmp['TGTG.DE.1'])]
print(tmp.head(8))
#tmp = tmp[::2]


tmp["rets"] = tmp["TGTG.DE.1"].pct_change()
tmp.replace(np.NaN,0 , inplace =True) 
tmp = tmp.replace([np.inf, -np.inf], 0)
tmp = tmp.astype(float)

#print(tmp)

mu = np.mean(tmp["rets"])
sigma = np.std(tmp["rets"])
print(mu)
print(sigma)
valueAtRisk_95 = MoneyVol - MoneyVol*(norm.ppf(0.05, mu, sigma) + 1)
print(valueAtRisk_95)

  TGTG.DE TGTG.DE.1
1    0.64     0.646
2    0.63      0.68
3    0.68     0.696
4   0.686       0.7
5   0.702       0.7
7   0.718     0.718
8   0.796     0.728
9     0.8     0.752
      TGTG.DE  TGTG.DE.1      rets
1       0.640      0.646  0.000000
2       0.630      0.680  0.052632
3       0.680      0.696  0.023529
4       0.686      0.700  0.005747
5       0.702      0.700  0.000000
7       0.718      0.718  0.025714
8       0.796      0.728  0.013928
9       0.800      0.752  0.032967
10      0.810      0.772  0.026596
11      0.780      0.785  0.016839
12      0.780      0.781 -0.005096
13      0.800      0.789  0.010243
14      0.796      0.796  0.008872
15      0.800      0.785 -0.013819
16      0.801      0.814  0.036943
17      0.810      0.810 -0.004914
18      0.813      0.813  0.003704
19      0.819      0.819  0.007380
20      0.812      0.812 -0.008547
21      0.840      0.816  0.004926
22      0.832      0.832  0.019608
24      0.850      0.850  0.021635
27      0.835      0.850  0.000000
29      0.868      0.870  0.023529
30      0.832      0.832 -0.043678
31      0.894      0.832  0.000000
32      0.840      0.840  0.009615
33      0.832      0.837 -0.003571
34      0.891      0.840  0.003584
35      0.936      0.890  0.059524
...       ...        ...       ...
2749   21.150     21.140  0.012452
2750   20.060     21.170  0.001419
2751   20.490     20.350 -0.038734
2752   19.550     20.500  0.007371
2753   20.320     20.000 -0.024390
2754   20.500     20.470  0.023500
2755   20.700     20.540  0.003420
2756   20.440     20.480 -0.002921
2757   20.390     20.470 -0.000488
2758   20.440     20.690  0.010747
2759   20.200     20.400 -0.014016
2760   20.000     20.000 -0.019608
2761   19.500     19.950 -0.002500
2762   19.300     19.360 -0.029574
2763   19.240     19.240 -0.006198
2764   19.150     19.270  0.001559
2765   19.350     19.200 -0.003633
2766   19.260     19.240  0.002083
2767   19.570     19.250  0.000520
2768   19.780     19.600  0.018182
2769   19.410     19.760  0.008163
2770   19.000     19.500 -0.013158
2771   18.650     19.000 -0.025641
2772   18.800     18.740 -0.013684
2773   18.100     18.680 -0.003202
2774   17.870     18.050 -0.033726
2775   17.640     17.870 -0.009972
2776   17.340     17.650 -0.012311
2777   17.220     17.340 -0.017564
2778   17.010     17.440  0.005767

[2721 rows x 3 columns]
0.001540418890863305
0.025902604849142245
41.0655746427

In [ ]:
def SMALLabsPortf_HistVaR(listofInv =dfTime, numDays= 2, MoneyVol =1000, startDt = '22/11/2016', endDt ='01/12/2016' ):
 
    set1=pd.DataFrame()

    colListPrime = list(dfTime.columns.values)
    del colListPrime[0]
    colListPrime = colListPrime[::2]

    for i in range(1, len(colListFull), 2):
        set2 =(listofInv[listofInv.columns[i+1]].astype(float)) - (listofInv[listofInv.columns[i]].astype(float))
        set1 = pd.concat([set1, set2] , axis=1)
        del set2

    set1.columns = [colListPrime]
    #print(set1.head())


    SumSet = set1.groupby((np.arange(len(set1.columns)) //len(set1.columns)*10 ) + 1, axis=1).sum().add_prefix('sum')
    SumSet["rets"] = SumSet["sum1"].pct_change()

    
    mu = np.mean(SumSet["rets"])
    sigma = np.std(SumSet["rets"])

    print(mu)
    print(sigma)
    #print "Value-at-Risk: $%0.2f" % var
    
    valueAtRisk_95 = MoneyVol - MoneyVol*(norm.ppf(0.05, mu, sigma) + 1)
    valueAtRisk_99 = MoneyVol - MoneyVol*(norm.ppf(0.01, mu, sigma) + 1)

    
       
    #Portf_stddev = (sum1+2*sum2) ** (0.5)
    print("Portfolio Historical Value at Risk with 95% confidence is: " + str(valueAtRisk_95))
    print("Portfolio Historical Value at Risk with 99% confidence is: " + str(valueAtRisk_99))
    
    #print(lStdDev)
    
absPortf_HistVaR(dfTime, 21, 1000, '22/11/2016','24/11/2016' )

In [462]:
def absPortf_HistVaR(listofInv =dfTime, numDays= 2, MoneyVol =1000, startDt = '22/11/2016', endDt ='01/12/2016' ):
 
    """
    Variance-Covariance calculation of daily Value-at-Risk
    using confidence level c, with mean of returns mu
    and standard deviation of returns sigma, on a portfolio
    of value P.
    """
    ##startDate = pd.to_datetime('22/11/2016' )
    startDate = np.datetime64( datetime.datetime.strptime(startDt, '%d/%m/%Y'))
    endDate= np.datetime64( datetime.datetime.strptime(endDt, '%d/%m/%Y'))
    
    ##remove Timestamp, Trade Open, Trade Close
    listofInv=pd.DataFrame(listofInv.ix[1:,0:])
    
    listofInv['Date'] =  pd.to_datetime(listofInv['Date'])
    listofInv=pd.DataFrame(listofInv)
    listofInv[(listofInv.Date >= startDate) & (listofInv.Date <= endDate )]
    
    
    set1=pd.DataFrame()

    colListPrime = list(dfTime.columns.values)
    del colListPrime[0]
    colListPrime = colListPrime[::2]

    for i in range(1, len(colListFull), 2):
        set2 =(listofInv[listofInv.columns[i+1]].astype(float)) - (listofInv[listofInv.columns[i]].astype(float))
        set1 = pd.concat([set1, set2] , axis=1)
        del set2

    set1.columns = [colListPrime]
    #print(set1.head())


    SumSet = set1.groupby((np.arange(len(set1.columns)) //len(set1.columns)*10 ) + 1, axis=1).sum().add_prefix('sum')
    SumSet["rets"] = SumSet["sum1"].pct_change()
    
    SumSet.replace(np.NaN,0 , inplace =True) 
    SumSet = SumSet.replace([np.inf, -np.inf], 0)
    SumSet = SumSet.astype(float)

    
    mu = np.mean(SumSet["rets"])
    sigma = np.std(SumSet["rets"])

    print(mu)
    print(sigma)
    #print "Value-at-Risk: $%0.2f" % var
    
    valueAtRisk_95 = MoneyVol - MoneyVol*(norm.ppf(0.05, mu, sigma) + 1)
    valueAtRisk_99 = MoneyVol - MoneyVol*(norm.ppf(0.01, mu, sigma) + 1)

    
       
    #Portf_stddev = (sum1+2*sum2) ** (0.5)
    print("Portfolio Historical Value at Risk with 95% confidence is: " + str(valueAtRisk_95))
    print("Portfolio Historical Value at Risk with 99% confidence is: " + str(valueAtRisk_99))
    
    #print(lStdDev)
    
absPortf_HistVaR(dfTime, 21, 1000, '22/11/2016','24/11/2016' )

                     Date TGTG.DE TGTG.DE.1 UUUG.DE UUUG.DE.1  VSCk.DE  \
1     2016-12-01 00:00:00    0.64     0.646   0.641      0.64    2.532
2     2016-11-30 00:00:00    0.63      0.68   0.641     0.641    2.496
3     2016-11-29 00:00:00    0.68     0.696    0.65      0.66    2.416
4     2016-11-28 00:00:00   0.686       0.7    0.65      0.65     2.52
5     2016-11-25 00:00:00   0.702       0.7       0         0      2.4
6     2016-11-24 00:00:00       0         0   0.661     0.656    2.412
7     2016-11-23 00:00:00   0.718     0.718   0.664     0.664    2.499
8     2016-11-22 00:00:00   0.796     0.728    0.65     0.647        0
9     2016-11-21 00:00:00     0.8     0.752   0.646     0.645        0
10    2016-11-18 00:00:00    0.81     0.772    0.68     0.645    2.532
11    2016-11-17 00:00:00    0.78     0.785    0.68     0.655    2.475
12    2016-11-16 00:00:00    0.78     0.781   0.679     0.679     2.44
13    2016-11-15 00:00:00     0.8     0.789   0.681     0.679    2.441
14    2016-11-14 00:00:00   0.796     0.796   0.663     0.663    2.544
15    2016-11-11 00:00:00     0.8     0.785   0.664      0.64    2.487
16    2016-11-10 00:00:00   0.801     0.814    0.64      0.64    2.429
17    2016-11-09 00:00:00    0.81      0.81   0.638     0.631    2.286
18    2016-11-08 00:00:00   0.813     0.813   0.638      0.64     2.37
19    2016-11-07 00:00:00   0.819     0.819   0.664     0.659      2.4
20    2016-11-04 00:00:00   0.812     0.812    0.65     0.645    2.405
21    2016-11-03 00:00:00    0.84     0.816   0.655     0.651     2.42
22    2016-11-02 00:00:00   0.832     0.832    0.65      0.65     2.55
23    2016-11-01 00:00:00       0         0   0.668     0.659    2.639
24    2016-10-31 00:00:00    0.85      0.85   0.649      0.67    2.569
25    2016-10-28 00:00:00       0         0   0.645     0.645    2.512
26    2016-10-27 00:00:00       0         0   0.634     0.645    2.511
27    2016-10-26 00:00:00   0.835      0.85    0.64     0.637    2.511
28    2016-10-25 00:00:00       0         0    0.64     0.648     2.48
29    2016-10-24 00:00:00   0.868      0.87    0.65     0.631        0
30    2016-10-21 00:00:00   0.832     0.832    0.64      0.64    2.515
...                   ...     ...       ...     ...       ...      ...
2749  2006-02-10 00:00:00   21.15     21.14    0.86      0.85  19.5039
2750  2006-02-09 00:00:00   20.06     21.17    0.87      0.86  19.9639
2751  2006-02-08 00:00:00   20.49     20.35    0.87      0.87  20.0099
2752  2006-02-07 00:00:00   19.55      20.5    0.87      0.87  19.9179
2753  2006-02-06 00:00:00   20.32        20    0.89      0.87  19.9179
2754  2006-02-03 00:00:00    20.5     20.47    0.88      0.89  19.9179
2755  2006-02-02 00:00:00    20.7     20.54    0.89      0.89  19.9179
2756  2006-02-01 00:00:00   20.44     20.48    0.89      0.87  19.6419
2757  2006-01-31 00:00:00   20.39     20.47     0.9      0.86  19.5499
2758  2006-01-30 00:00:00   20.44     20.69    0.83       0.9  19.7799
2759  2006-01-27 00:00:00    20.2      20.4    0.88      0.86  19.5499
2760  2006-01-26 00:00:00      20        20    0.81      0.88  19.5499
2761  2006-01-25 00:00:00    19.5     19.95    0.81      0.82  19.9639
2762  2006-01-24 00:00:00    19.3     19.36    0.83      0.82  19.5499
2763  2006-01-23 00:00:00   19.24     19.24    0.84      0.82  20.0099
2764  2006-01-20 00:00:00   19.15     19.27    0.82      0.83  19.9179
2765  2006-01-19 00:00:00   19.35      19.2    0.83      0.83  19.5499
2766  2006-01-18 00:00:00   19.26     19.24    0.85      0.83  20.0099
2767  2006-01-17 00:00:00   19.57     19.25    0.86      0.86  20.4699
2768  2006-01-16 00:00:00   19.78      19.6    0.87      0.86  20.3779
2769  2006-01-13 00:00:00   19.41     19.76    0.88      0.87  19.9179
2770  2006-01-12 00:00:00      19      19.5    0.86      0.87  19.7339
2771  2006-01-11 00:00:00   18.65        19    0.87      0.88  19.7799
2772  2006-01-10 00:00:00    18.8     18.74    0.87      0.88  19.7339
2773  2006-01-09 00:00:00    18.1     18.68    0.91      0.88  20.2399
2774  2006-01-06 00:00:00   17.87     18.05    0.85       0.9  19.9179
2775  2006-01-05 00:00:00   17.64     17.87    0.85      0.86  19.9179
2776  2006-01-04 00:00:00   17.34     17.65    0.84      0.86  19.7799
2777  2006-01-03 00:00:00   17.22     17.34    0.87      0.85  19.9639
2778  2006-01-02 00:00:00   17.01     17.44    0.83      0.86  20.2399

     VSCk.DE.1 HRPKk.F HRPKk.F.1 LUMG.F    ...     YB1.F YB1.F.1  RTVGn.F  \
1        2.532   2.276     2.276  0.016    ...      0.02    0.02     1.22
2        2.451   2.254     2.281  0.016    ...      0.02    0.02     1.22
3        2.416   2.266     2.357  0.016    ...      0.02    0.02     1.22
4          2.5    2.36     2.324  0.016    ...      0.02    0.02    1.221
5        2.567   2.317      2.35  0.016    ...      0.02    0.02     1.22
6        2.401   2.288     2.373  0.016    ...      0.02    0.02     1.22
7        2.499    2.36      2.35  0.016    ...      0.02    0.02    1.248
8            0    2.26     2.335  0.016    ...      0.02    0.02    1.275
9            0   2.402     2.275  0.017    ...      0.02    0.02    1.275
10       2.488    2.28     2.296  0.017    ...     0.021   0.021    1.255
11       2.533     2.3     2.326  0.017    ...     0.021   0.021    1.331
12       2.395   2.238     2.246  0.016    ...     0.021   0.021     1.37
13       2.437   2.235     2.235  0.016    ...     0.021   0.021     1.37
14       2.522   2.329     2.243  0.016    ...     0.021   0.021     1.37
15       2.487   2.214     2.258  0.016    ...     0.021   0.021     1.37
16       2.489    2.21      2.19  0.016    ...     0.021   0.021      1.3
17        2.44     2.2     2.171  0.016    ...     0.021   0.021     1.22
18       2.369    2.22     2.259  0.016    ...     0.021   0.021    1.265
19       2.389   2.224     2.234  0.017    ...     0.021   0.021    1.265
20       2.405   2.219     2.213  0.016    ...     0.021   0.021    1.265
21        2.44   2.242     2.256  0.015    ...     0.021   0.021    1.265
22       2.405   2.267     2.299  0.016    ...     0.021   0.021     1.28
23       2.622   2.278     2.272  0.016    ...     0.021   0.021     1.28
24         2.6    2.31     2.291  0.017    ...     0.021   0.021     1.28
25       2.527    2.27     2.319  0.017    ...     0.021   0.021     1.28
26       2.431   2.251     2.291  0.017    ...      0.02    0.02     1.35
27       2.568   2.328     2.251  0.016    ...     0.021   0.021     1.35
28        2.51    2.31      2.31  0.016    ...     0.021   0.021     1.35
29           0   2.409     2.278  0.016    ...      0.02    0.02     1.35
30       2.485   2.379     2.379  0.016    ...      0.04    0.03      1.4
...        ...     ...       ...    ...    ...       ...     ...      ...
2749   20.0099    35.4      35.1   0.53    ...         0       0  2.40262
2750   19.9639    35.7      35.2   0.56    ...         0       0  2.12503
2751   19.5499    35.3     35.26   0.58    ...         0       0   2.1346
2752   19.5499    33.9     35.06   0.55    ...         0       0   2.1346
2753   20.2399      34        34   0.57    ...         0       0  2.11545
2754   19.9179    35.2      33.8   0.51    ...         0       0  2.12503
2755   19.9179    35.3      34.9    0.5    ...         0       0  2.11545
2756   20.0099    33.6      34.9   0.52    ...         0       0  2.15374
2757   19.5499    33.5      33.2   0.53    ...         0       0  2.24946
2758   19.9639    32.8     33.54   0.57    ...         0       0  2.06759
2759   20.1019      32      32.4   0.53    ...         0       0   2.2016
2760   19.5499    32.3        32   0.56    ...         0       0   2.2016
2761   19.9639      33      31.7   0.55    ...         0       0  2.10588
2762   19.7799   32.84     32.72   0.56    ...         0       0  2.23032
2763   20.0099    32.9      32.6   0.55    ...         0       0  2.24946
2764   19.7799    32.3      33.4   0.56    ...         0       0  2.33561
2765   20.0099    33.4     32.04   0.57    ...         0       0  2.36433
2766   19.7799    31.2     32.92   0.57    ...         0       0  2.40262
2767   20.1939      33      32.4   0.59    ...         0       0  2.40262
2768   20.6999    32.9        33   0.62    ...         0       0  2.46005
2769   20.3779   31.24     31.82   0.59    ...         0       0  2.46005
2770   19.8719    30.9      31.5   0.59    ...         0       0  2.45048
2771   19.7799   31.66      30.6   0.57    ...         0       0  2.42176
2772   19.7799    31.8      31.5   0.68    ...         0       0  2.44091
2773   19.7799    30.4      31.6   0.78    ...         0       0  2.39305
2774   20.0099   28.26     29.64   0.32    ...         0       0  2.46963
2775   19.7799    28.6      28.1    0.3    ...         0       0  2.63235
2776   19.5499    28.6     28.72    0.3    ...         0       0  2.22075
2777   19.7799    28.4      28.3   0.32    ...         0       0  2.49834
2778   19.6419   26.84     28.46   0.26    ...         0       0  2.48877

     RTVGn.F.1 ZALG.DE ZALG.DE.1 ZEFG.DE ZEFG.DE.1 ZO1G.DE ZO1G.DE.1
1         1.22   34.99    34.275     1.6       1.6     121     119.1
2         1.22  35.855    35.165       0         0   123.2       121
3         1.22   35.14    35.845   1.554     1.575     123     123.1
4        1.221   36.05     35.22       0         0   122.5       123
5         1.22  35.315    36.115       0         0     121     122.4
6         1.22   35.62    35.345       0         0   120.5       121
7        1.248  36.025     35.61       0         0     120    120.45
8        1.275   35.97    35.895    1.46      1.46   119.1    119.85
9        1.275   35.77     35.81       0         0   122.5     120.8
10       1.338   35.57    35.665       0         0  122.05    123.05
11        1.28   35.06    35.395       0         0   126.6    122.05
12        1.37    34.8    35.005   1.507     1.507   124.7     125.4
13        1.37   34.85     34.78       0         0     126     124.8
14        1.37  35.845    34.785   1.547     1.547   126.8    125.25
15        1.37  35.165    35.495   1.511       1.5   128.4    126.15
16       1.415   38.55     34.87    1.53       1.5  128.45     128.4
17       1.335  35.695      37.5   1.597      1.55  125.95     128.2
18       1.265  36.825      36.9       0         0   128.6    128.35
19       1.265    37.8    36.955       0         0  127.65    128.05
20       1.265   38.45    38.415       0         0   128.5     127.6
21       1.265  38.285     38.45       0         0   128.6     127.9
22       1.265   39.02     38.48   1.617       1.6  129.45     128.5
23        1.28  40.115    39.105       0         0   130.5     129.8
24        1.28  39.695     39.99   1.617     1.617  130.45    129.55
25        1.28  40.125    39.795    1.58      1.58   128.8    129.95
26        1.35  39.895     40.35    1.67       1.6   128.5     129.5
27        1.35   40.22     39.82    1.67      1.67     128    128.95
28        1.35   40.16    40.225    1.88      1.73     128    128.05
29        1.35  39.785     39.98       0         0     130     128.2
30         1.4    40.4     39.61    1.88     1.835     130     129.7
...        ...     ...       ...     ...       ...     ...       ...
2749   2.58449       0         0       0         0       0         0
2750   2.34519       0         0       0         0       0         0
2751    2.1346       0         0       0         0       0         0
2752    2.1346       0         0       0         0       0         0
2753    2.1346       0         0       0         0       0         0
2754   2.12503       0         0       0         0       0         0
2755   2.12503       0         0       0         0       0         0
2756   2.15374       0         0       0         0       0         0
2757   2.18246       0         0       0         0       0         0
2758    2.2016       0         0       0         0       0         0
2759   2.06759       0         0       0         0       0         0
2760    2.2016       0         0       0         0       0         0
2761   2.23032       0         0       0         0       0         0
2762   2.15374       0         0       0         0       0         0
2763   2.23032       0         0       0         0       0         0
2764   2.24946       0         0       0         0       0         0
2765    2.3739       0         0       0         0       0         0
2766   2.41219       0         0       0         0       0         0
2767   2.40262       0         0       0         0       0         0
2768   2.40262       0         0       0         0       0         0
2769   2.46005       0         0       0         0       0         0
2770   2.46005       0         0       0         0       0         0
2771   2.48877       0         0       0         0       0         0
2772   2.44091       0         0       0         0       0         0
2773   2.44091       0         0       0         0       0         0
2774   2.46005       0         0       0         0       0         0
2775   2.50791       0         0       0         0       0         0
2776   2.69936       0         0       0         0       0         0
2777   2.53663       0         0       0         0       0         0
2778   2.53663       0         0       0         0       0         0

[2778 rows x 853 columns]
-0.2646428794333778
33.29952749353409
Portfolio Historical Value at Risk with 95% confidence is: 55037.4914529
Portfolio Historical Value at Risk with 99% confidence is: 77730.9278706

In [450]:
SumTest = SumSet.ix[:, 0:2]
SumTest["rets"] = SumTest["sum1"].pct_change()
SumTest = SumTest.astype(float)

SumTest = SumTest.replace([np.inf, -np.inf], 0)
#SumTest = SumTest.replace([np.inf, -np.inf], 0).dropna(subset=["sum1", "rets"], how="all")
#SumTest.loc[(~np.isfinite(SumTest)) & SumTest.notnull()] = np.nan
#print(SumTest.head())
print(SumTest[:15])

#print(SumTest.head())

mu = np.mean(SumTest["rets"])
print(mu)

          sum1       rets
1   -46.848000        NaN
2   525.618000 -12.219647
3    73.273368  -0.860596
4   785.402750   9.718802
5   -10.768350  -1.013711
6    45.071480  -5.185551
7   -29.578710  -1.656262
8    25.251830  -1.853716
9    71.801540   1.843419
10  -20.363211  -1.283604
11   61.545319  -4.022378
12    0.525100  -0.991468
13   45.331810  85.329910
14  -21.823420  -1.481415
15  -15.831130  -0.274581
-0.2647381775534474

/Users/sergey/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [8]:
numcols = len(dfTime.ix[:, 2::2])
numcols

2779

In [47]:
#print(df.head())

In [10]:
np.std([1,3,4,6], ddof=1)

2.0816659994661326

In [11]:
np.std(df['Normalized Income After Taxes'], ddof=1)

1454934451.541977

In [22]:
lister = ['mmds', 'kmkd', 'algs', 'idp']

In [27]:
print (lister)

['algs', 'finm', 'idp', 'kmkd', 'mmds']

In [24]:
lister.insert(2, 'finm')

In [26]:
lister.sort()

In [28]:
fun = ['swm', 'film', 'music']

In [29]:
act = fun + lister
print(act)

['swm', 'film', 'music', 'algs', 'finm', 'idp', 'kmkd', 'mmds']

In [32]:
act2 = [[fun], [lister]]
print(act2)

[[['swm', 'film', 'music']], [['algs', 'finm', 'idp', 'kmkd', 'mmds']]]

In [14]:
import datetime
import numpy as np
import pandas.io.data as web
from scipy.stats import norm

/Users/sergey/anaconda/lib/python3.5/site-packages/pandas/io/data.py:35: FutureWarning:
The pandas.io.data module is moved to a separate package (pandas-datareader) and will be removed from pandas in a future version.
After installing the pandas-datareader package (https://github.com/pydata/pandas-datareader), you can change the import ``from pandas.io import data, wb`` to ``from pandas_datareader import data, wb``.
  FutureWarning)

In [15]:
def var_cov_var(P, c, mu, sigma):
    """
    Variance-Covariance calculation of daily Value-at-Risk
    using confidence level c, with mean of returns mu
    and standard deviation of returns sigma, on a portfolio
    of value P.
    """
    alpha = norm.ppf(1-c, mu, sigma)

    return P - P*(alpha + 1)

In [459]:
start = datetime.datetime(2010, 1, 1)
end = datetime.datetime(2010, 2, 1)

citi = web.DataReader("C", 'yahoo', start, end)
citi["rets"] = citi["Adj Close"].pct_change()

P = 1e3   # 1,000,000 USD
c = 0.99  # 99% confidence interval
mu = np.mean(citi["rets"])
sigma = np.std(citi["rets"])
print(mu)
print(sigma)

##-0.2646428794333778
#33.29952749353409
#
var = var_cov_var(P, c, -0.26, 33.29)
print(  "Value-at-Risk: $%0.2f" % var)

-0.0006470949931906935
0.023999247874095846
Value-at-Risk: $77704.12

In [22]:
print (citi)

            Open  High   Low  Close    Volume  Adj Close      rets
Date
2010-01-04  3.36  3.41  3.34   3.40  40679300  33.368288       NaN
2010-01-05  3.42  3.55  3.41   3.53  66861700  34.644133  0.038235
2010-01-06  3.56  3.68  3.51   3.64  67433800  35.723698  0.031162
2010-01-07  3.69  3.70  3.61   3.65  67245100  35.821839  0.002747
2010-01-08  3.65  3.67  3.51   3.59  62409700  35.232988 -0.016438
2010-01-11  3.66  3.67  3.60   3.63  47557600  35.625554  0.011142
2010-01-12  3.59  3.61  3.48   3.52  47011800  34.545993 -0.030303
2010-01-13  3.54  3.59  3.50   3.50  41035100  34.349708 -0.005682
2010-01-14  3.56  3.56  3.50   3.51  27417000  34.447849  0.002857
2010-01-15  3.49  3.50  3.40   3.42  54017700  33.564573 -0.025641
2010-01-19  3.34  3.56  3.30   3.54  80789300  34.742278  0.035088
2010-01-20  3.51  3.60  3.45   3.46  47944900  33.957139 -0.022599
2010-01-21  3.45  3.46  3.20   3.27  95968000  32.092442 -0.054913
2010-01-22  3.28  3.39  3.22   3.25  65474100  31.896158 -0.006116
2010-01-25  3.31  3.33  3.21   3.23  49752400  31.699873 -0.006154
2010-01-26  3.22  3.27  3.15   3.15  45890200  30.914737 -0.024768
2010-01-27  3.17  3.23  3.14   3.20  55891300  31.405447  0.015873
2010-01-28  3.25  3.29  3.20   3.24  51294200  31.798017  0.012500
2010-01-29  3.27  3.34  3.27   3.32  67942900  32.583153  0.024691
2010-02-01  3.36  3.37  3.31   3.34  23577600  32.779437  0.006024