In [1]:
import pandas as pd
import numpy as np

In [2]:
xl = pd.ExcelFile('/Users/sergey/Documents/TUM/IDP/prepared_instruments.xlsx')

In [3]:
df = xl.parse("FY0")
dfTime = xl.parse("TS")

In [4]:
xl.sheet_names
df.head()
print(xl.sheet_names)

['Control', 'TS', 'CDAX', 'General', 'FY0', 'FY-1', 'FY-2', 'FY-3', 'FY-4', 'FY-5', 'FY-6']

In [5]:
n = (len(dfTime)-1)/2
n

1389.0

In [6]:
x = [1, 2]
for i in range(1,4,2):
    print(i)  
    #x.extend(dfTime.ix[1:3,i])
    x.extend(dfTime.ix[1:3,i])
#print (x)
x

1
3

[1, 2, 0.64, 0.63, 0.68, 0.641, 0.641, 0.65]

In [7]:
dfTime.ix[:,1:3]

         TGTG.DE    TGTG.DE.1
0     Trade Open  Trade Close
1           0.64        0.646
2           0.63         0.68
3           0.68        0.696
4          0.686          0.7
5          0.702          0.7
6            NaN          NaN
7          0.718        0.718
8          0.796        0.728
9            0.8        0.752
10          0.81        0.772
11          0.78        0.785
12          0.78        0.781
13           0.8        0.789
14         0.796        0.796
15           0.8        0.785
16         0.801        0.814
17          0.81         0.81
18         0.813        0.813
19         0.819        0.819
20         0.812        0.812
21          0.84        0.816
22         0.832        0.832
23           NaN          NaN
24          0.85         0.85
25           NaN          NaN
26           NaN          NaN
27         0.835         0.85
28           NaN          NaN
29         0.868         0.87
...          ...          ...
2749       21.15        21.14
2750       20.06        21.17
2751       20.49        20.35
2752       19.55         20.5
2753       20.32           20
2754        20.5        20.47
2755        20.7        20.54
2756       20.44        20.48
2757       20.39        20.47
2758       20.44        20.69
2759        20.2         20.4
2760          20           20
2761        19.5        19.95
2762        19.3        19.36
2763       19.24        19.24
2764       19.15        19.27
2765       19.35         19.2
2766       19.26        19.24
2767       19.57        19.25
2768       19.78         19.6
2769       19.41        19.76
2770          19         19.5
2771       18.65           19
2772        18.8        18.74
2773        18.1        18.68
2774       17.87        18.05
2775       17.64        17.87
2776       17.34        17.65
2777       17.22        17.34
2778       17.01        17.44

[2779 rows x 2 columns]

In [8]:


numcols = len(dfTime.ix[:, 2::2])
numcols

2779

In [9]:
print(df.head())

        ID          ISIN  Normalized EBITDA  Normalized EBIT  \
0  TGTG.DE  DE0005118806          2314000.0       -6112000.0
1  UUUG.DE  DE0005167902          4037000.0         909000.0
2  VSCk.DE  DE000A14KL72         -7966000.0       -8969000.0
3  HRPKk.F  DE000A11QW68         21662000.0        9910000.0
4   LUMG.F  DE0006492903           245560.0         243940.0

   Normalized Income Before Taxes  Normalized Income After Taxes  \
0                      -5926000.0                     -6274100.0
1                       -286000.0                      -735000.0
2                      -9242000.0                     -9263100.0
3                       4692000.0                      4072430.0
4                        238940.0                       238940.0

   Total Revenue   Total Debt  Accounts Receivable - Trade, Net  \
0     53535000.0          0.0                        11092000.0
1     50575000.0   28178000.0                         6912000.0
2      3266000.0          0.0                          102000.0
3     25362000.0  181504000.0                         1353000.0
4     12433970.0         80.0                          183850.0

   Accounts Payable         ...           Net Debt - Mean  Total Debt.1  \
0         1071000.0         ...                -2500000.0           0.0
1         3517000.0         ...                       NaN    28178000.0
2          688000.0         ...               -14321330.0           0.0
3         1679000.0         ...               139890000.0   181504000.0
4          201890.0         ...                       NaN          80.0

   Total Current Assets  Total Current Liabilities  Total Liabilities  \
0            32189000.0                  9794000.0         11440000.0
1            23335000.0                 11917000.0         37010000.0
2            22415000.0                  5593000.0          7064000.0
3            31366000.0                 20604000.0        202557000.0
4              685150.0                   555900.0          1366310.0

   Total Equity  Common Stock, Total  Shares Out - Common Stock Primary Issue  \
0    38204000.0           19111000.0                               19111090.0
1    39806000.0           35314000.0                               33130380.0
2    26428000.0           18967000.0                               18966650.0
3    62189000.0           40478000.0                               42358590.0
4      250630.0           10226000.0                                8000000.0

   Cash and Equivalents  Number of Employees
0                4000.0                698.0
1                   NaN                145.0
2            21475000.0                 44.0
3            13073000.0                 17.0
4                   NaN                  0.0

[5 rows x 23 columns]

In [10]:
np.std([1,3,4,6], ddof=1)

2.0816659994661326

In [11]:
np.std(df['Normalized Income After Taxes'], ddof=1)

1454934451.541977